/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.vscode
/package-lock.json
composer.lock
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
